.bottom-section {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-family: 'moneta';
  font-size: 3.2rem;
}

.insights-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.insight {
  width: 23%;
}

.stats {
  font-size: 2rem;
  font-family: 'moneta';
}

.description {
  font-family: 'acumin';
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .insights-container {
    flex-direction: column;
  }
  .insight {
    width: 55%;
  }
}
